.magic-container {
  position: relative;
  display: flex;
  width: 100%;
}

.whole-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 86.1111111111vw;
  top: 10.7382550336vh;
  left: 6.9444444444vw;
}

.product-description {
  position: relative;
  top: 0;
  left: calc(2.7777777778vw + 120px);
  width: 1002px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.product-description .main-image {
  margin-right: 100px;
  width: 610px;
  height: 511px;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}
.product-description .main-image::-webkit-scrollbar {
  height: 9px;
  width: 100px;
}
.product-description .main-image::-webkit-scrollbar-track {
  background: #e4e0e0;
  width: 100px;
}
.product-description .main-image::-webkit-scrollbar-thumb {
  background: #414040;
  transition: all 0.2s ease;
}
.product-description .main-image::-webkit-scrollbar-thumb:hover {
  background: #000;
  transition: all 0.2s ease;
}
.product-description .main-image img {
  width: auto;
  height: 100%;
}

.right-part-PP {
  min-width: 292px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  height: auto;
}
.right-part-PP .title-PP {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 43px;
}
.right-part-PP .title-PP p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}
.right-part-PP .title-PP .product-brand {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}
.right-part-PP .variations-container-PP {
  width: 100%;
  max-height: 511px;
}
.right-part-PP .variations-container-PP p {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #1D1F22;
}
.right-part-PP .variations-container-PP .variations-all {
  display: flex;
  justify-content: left;
  align-items: center;
}
.right-part-PP .variations-container-PP .variations-all .selected {
  color: #ffff;
  background-color: #1D1F22;
}
.right-part-PP .variations-container-PP .variations-all .variation-button-PP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 45px;
  margin-right: 12px;
  box-sizing: border-box;
  border: 1px solid #1D1F22;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.2s ease-out;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  transition: all 0.3s ease-in;
}
.right-part-PP .variations-container-PP .variations-all .variation-button-PP:hover {
  transition: all 0.2s ease-out;
  color: #ffff;
  background-color: #1D1F22;
}
.right-part-PP .variations-container-PP .variations-all .swatch {
  border: none;
  filter: drop-shadow(0px 2px 5px rgba(168, 172, 176, 0.65));
  width: 45px;
  height: 45px;
  position: relative;
}
.right-part-PP .variations-container-PP .variations-all .swatch:hover {
  transition: all 0.3s ease-in;
  border-radius: 50%;
}
.right-part-PP .variations-container-PP .variations-all .selected-swatch {
  border-radius: 30%;
}
.right-part-PP .price-PP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  margin: 0 0 40px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  color: #1D1F22;
}
.right-part-PP .price-PP p {
  margin: 0 0 21px 0;
  padding: 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.right-part-PP .price-margin {
  margin-bottom: 20px;
}
.right-part-PP .button-PP {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0px;
  box-sizing: border-box;
  background-color: #5ECE7B;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #ffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.right-part-PP .button-PP:hover {
  transition: all 0.2s ease-out;
  background-color: #53B56C;
}
.right-part-PP .no-stock {
  background-color: #bebebe;
  pointer-events: none;
  text-decoration: line-through;
}
.right-part-PP .description-PP {
  width: 100%;
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 159.96%;
  color: #1D1F22;
}

.description {
  position: relative;
  top: 4.6296296296vh;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 159.96%;
  color: #1D1F22;
}
.description .title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1D1F22;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}

@keyframes fade-color {
  0% {
    left: -0.3em;
    opacity: 10%;
  }
  50% {
    left: 0.2em;
    opacity: 80%;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes fade-color-reverse {
  100% {
    opacity: 0;
    display: none;
  }
  90% {
    left: -0.3em;
    opacity: 10%;
  }
  0% {
    left: 0;
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .product-description {
    position: absolute;
    top: 10.7382550336vh;
    left: 20px;
    width: calc(100vw - 40px);
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .product-description .main-image img {
    width: 100%;
    height: 511px;
  }

  .container {
    overflow-x: hidden;
  }

  .right-part-PP {
    width: 85.3%;
  }
}

/*# sourceMappingURL=style.css.map */
