.left-part-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    .cart-page-title {
        padding: 0;
        margin: 0;

        .h2 {
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 27px;
            color: #1D1F22;
            border: none;
            padding: 0;
            margin: 0;
            padding-bottom: 16px;
        }

        .h3 {
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 27px;
            color: #1D1F22;
            margin: 0;
            padding: 0;
        }
    }

    .price-cart {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 18px;
        color: #1D1F22;
        margin: 0;
        padding: 0;
    }

    .buttom-cart-page {
        width: 63px;
        height: 45px;
        width: 63px;
        height: 45px;
    }

    .buttons-container {
        display: flex;

        .button-cart-page { 
            margin-right: 12px;
            box-sizing: border-box;
            width: 63px;
            height: 45px;
            border: 1px solid #1D1F22;
            letter-spacing: 0.05em;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #1D1F22;

            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;

            transition: all .2s ease-in-out;
            &:hover {
                background-color: #1D1F22;
                color: #ffff;
                transition: all .2s ease-in-out;
            }
        }

        .selected-button {
            background-color: #1D1F22;
            color: #ffff;
        }

        .color-cart-menu {
            border: 1px solid #1D1F22;
            position: relative;
            z-index: 1;
            box-sizing: border-box;
            width: 45px;
            height: 100%;
            border: none;
            filter: drop-shadow(0px 2px 5px rgba(168, 172, 176, 0.3));
            &:hover {
                transition: all .3s ease-in;
                border-radius: 50%;
                .content-color {
                    transition: all .2s ease-in-out;
                    display: block;
                    animation: open-menu 0.25s forwards;
                }
            }
        
            .content-color {
                $distance: 60px;
                position: absolute;
                width: calc(45px + 2*$distance);
                height: calc(100% + 2*$distance);
                left: -$distance;
                top: -$distance;
                z-index: 2;
                display: none;
                opacity: 0;
                transition: all .2s ease-in-out;
        
                .vertical-colors {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: calc(50% - (45px/2));
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    width: 45px;
        
                    .color-option-select {
                        padding: 5px 0;
                    }
                }
        
                .horizontal-colors {
                    position: absolute;
                    z-index: 2;
                    top: calc(50% - (45px/2));
                    height: 45px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    .color-option-select {
                        padding: 0 5px;
                    }
                }
        
                .color-option-select {
                    width: 45px;
                    height: 45px;
                    position: relative;
                    box-sizing: border-box;
                    z-index: 3;
                    box-shadow: inset 0px 0px 3.5px rgba(168, 172, 176, 0.65);            
                    transition: all .23s ease-out;
                    &:hover {
                        transition: all .23s ease-out;
                        width: 47px;
                        height: 47px;
                    }
                }
            }
        
            
        }
    }
}

