.carousel {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .right, .left {
        width: 24px;
        height: 24px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        filter: brightness(1);

        transition: all .2s ease-in-out;
        
    }

    .arrow-button-right, .arrow-button-left {
        z-index: 2;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &:hover {
            .right, .left {
                filter: brightness(0);
                transition: all .2s ease-in-out;
            }
        }
    }

    .arrow-button-right {
        right: 0;
    }

    .arrow-button-left {
        left: 0;
    }

    .carousel-item {
        position: relative;
        display: flex;
        justify-content: center;
        width: 201px;

        z-index: 0;
    }

    .image-carousel {
        display: none;
        height: 186px;

        opacity: 0;
    }

    .active-image {
        display: block;
        opacity: 1;
    }

    .hidden {
        display: none;
        opacity: 0;
    }
}