.right-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    position: absolute;
    height: 40px;
    right: 7.0138888889%;
    top: 23px;
    background-color: transparent;
}

.nav-item {
    padding: 11px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cifra {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
    padding: 0 10px 0 10px;
    z-index: 1;
}

.drop-vector {
    transition: all .2s ease;

}



.rotate-vector {
    transform: rotate(-180deg);
    transition: all 0.2s ease;
}

.cart-span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    color: #ffff;
    top:0;
    right: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    animation: rotation-span .4s ease-in forwards;
}

.cart-span-none {
    transform: rotate(-360deg);
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
}

@keyframes rotation-span {
    0% {
        transform: rotate(-360deg);
        width: 0;
        height: 0;
        opacity: 0;
        color: #0000;
        display: none;
        top: 20px;
        right: 20px;
    }

    50% {
        transform: rotate(-180deg);
        opacity: .5;
    }

    100% {
        transform: rotate(0);
        opacity: 1;
        width: 20px;
        height: 20px;
        color: #ffff;
        top: 0px;
        right: 0px;
    }
}
